
@model List<Model>

@{
    ViewData["Title"] = "Models";
}

<h1>Список Моделей</h1>

<p>
    @if (ViewBag.GroupBy)
    {
            <a asp-action="Models" asp-route-group="false">Не групировать</a>
    }
    else
    {
            <a asp-action="Models" asp-route-group="true">Групировать по бренду</a>
    }
</p>

<p>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="groupToggle" name="group" value="true" @(ViewBag.GroupBy ? "checked" : "")>
        <label class="form-check-label" for="groupToggle">
            @(ViewBag.GroupBy ? "Группировать по бренду" : "Не группировать")
        </label>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Модель
            </th>
            <th>
                <p>
                    @if (ViewBag.GroupBy)
                    {
                        <a asp-action="Models" asp-route-group="false">Бренд</a>
                    }
                    else
                    {
                        <a asp-action="Models" asp-route-group="true">Бренд</a>
                    }
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(m => model.Id)
                    </td>
                    <td>
                    @Html.DisplayFor(m => model.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(m => model.Brand.Name)
                    </td>
                </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (ViewBag.Page > 1)
        {
                <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = ViewBag.Page - 1, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">Previous</a></li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.Page)
            {
                        <li class="page-item active"><a class="page-link" href="@Url.Action("Models", new { page = i, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">@i</a></li>
            }
            else
            {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = i, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">@i</a></li>
            }
        }
        @if (ViewBag.Page < ViewBag.TotalPages)
        {
                <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = ViewBag.Page + 1, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">Next</a></li>
        }
    </ul>
</nav>