@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@model List<Model>

@{
    ViewData["Title"] = "Models";
}

<h1>Список Моделей</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Модель
            </th>
            <th>
                @if (ViewBag.GroupBy)
                {
                    <a asp-action="Models" asp-route-group="false">Бренд</a>
                }
                else
                {
                    <a asp-action="Models" asp-route-group="true">Бренд</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modelAuto in Model)
        {
                        <tr style="background-color: @((modelAuto.IsActive) ? "inherit":"#d3d3d3")">
                    <td>
                    @modelAuto.Id
                    </td>
                    <td>
                    @modelAuto.Name
                    </td>
                    <td>
                    @modelAuto.Brand.Name
                    </td>
                    <td><a href="/Data/EditOrCreateModel/@modelAuto.Id" >Изменить</a></td>
                </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <div>
        <ul class="pagination">
            @if (ViewBag.Page > 1)
            {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = ViewBag.Page - 1, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">Previous</a></li>
            }
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                if (i == ViewBag.Page)
                {
                            <li class="page-item active"><a class="page-link" href="@Url.Action("Models", new { page = i, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">@i</a></li>
                }
                else
                {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = i, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">@i</a></li>
                }
            }
            @if (ViewBag.Page < ViewBag.TotalPages)
            {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Models", new { page = ViewBag.Page + 1, pageSize = ViewBag.PageSize, group = ViewBag.GroupBy })">Next</a></li>
            }

        </ul>
        <div class="d-flex justify-content-end">
            <a asp-controller="Data" asp-action="EditOrCreateModel" class="btn btn-primary">Добавить Модель</a>
        </div>
    </div>
</nav>